{% extends "fancylayout.html" %}

{% block content %}
    <div class="jumbotron"> <h1> About the Authors of the Site </h1>
      </div>
      <h2>
        <style>
table, th, td {
  border: 5px solid black;
}
</style>
      <table>
        <tr>
          <th> Cenk </th>
          <th> Ryan </th>
          <th> Michaela </th>
        </tr>
        <tr>
          <td> Cenk is a freshman from Chicago majoring in physics. His interests include music, philisophy,
          and hiking. </td>
          <td> Ryan is a freshman from Newburyport, Massachusetts, double majoring
          in Applied Math and Lingustics with a minor in computer science. His interests
        include art, literature, and computer science. </td>
          <td> Michaela is a freshman from Littleton, Massachusetts, majoring in linguistics. Her
              interests include Latin and dance. </td>
        </tr>
      </table>
    </h2>
    <p>
      <img src= 'group_pic.jpg'>
    </p>

{% endblock %}
